/*Overall Design*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
    /*#25c481, #25b7c4*/
    background: -webkit-linear-gradient(left, #d58512, #31b0d5);
    background: linear-gradient(to right, #d58512, #31b0d5);

    font-family: 'Roboto', sans-serif;

}
header{
    font-family: "American Typewriter";
}
h1{
    font-family: "Great Vibes";
}
.jumbotron{
    background-image: url("http://openwalls.com/image/40977/future_material_1920x1080.jpg") ;
    width: 100%;
    background-size: 100% 100%;
}
.jumbotron .container h1,
.jumbotron .container p{
    color: #ffefe8;
}
footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-family: "Matura MT Script Capitals";

    text-align: center;
}
ul.nav-tabs li{
    width: 50%;
    text-align: center;
}
h1.welcome-message { color: #f9f2f4; font-family: "Great Vibes", cursive; font-size: 60px; line-height: 100px; font-weight: normal; margin-bottom: 0px; margin-top: 100px; text-align: center; text-shadow: 0 1px 1px #fff; }


/*Navigation tab designs */
.nav-tabs{
    font-weight: bold;

}
.panel-heading, .panel-title{
    font-family: "American Typewriter";
}

/*DEA DEG Add page design */
.add-de div.list-group-item{
    height: 280px;
}

.add-de{
    text-align: center;
}

.add-de .col-md-3{
    height: 80%;
}
.add-de .col-md-3 h4{
    height: 30%;

}
.add-de .col-md-3 p{
    font-size: medium;
    font-family: "American Typewriter";
    height: 30%;

}
.add-de .col-md-3 input{
    height: 40%;
    width: 40%;
    font-size: x-large;
    text-align: center;
    border: hidden;
    font-weight: bold;
}

.add-de .col-md-8{
    height: 85%;
}
.add-de .col-md-8 .horizontal {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
   /* overflow: auto;*/
}

.add-de .col-md-8 .horizontal .table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.add-de .table article {
    width: 200px;
    height: 100%;
    display: table-cell;
    background: #F5CD82;
    /* This shit was causing problem!!!
    vertical-align: middle;
    */
    text-align: center;
}

.add-de article:nth-child(2n+2)
{
    height: 100%;
    background: #afd9ee;
}
.add-de .col-md-8 .table article h3{
    height: 20%;

}
.add-de .table article h2{
    height: 20%;

}
.add-de .table article p{
    height: 60%;

}

.add-de .col-md-1{
    height: 100%;

}
.add-de .col-md-1 a{

    float: left;
    font-family: "American Typewriter";
    height: auto;
    vertical-align: middle;
}

/* Add Experiments Specific Layout*/
.add-de-experiments label{
    font-family: "American Typewriter";
}
.add-de-experiments .parameter-form input{
    width: 80px;
    text-align: center;
}


/************/



/*DEA DEG View Page design  & inherit for Experiment view*/
#select-dea div.modal-dialog button.btn.btn-primary{
    display: none;
}


/*For Both DEA/DEG AND EXPERIMENTS*/
.rr > div {
    text-align: center;
}

.rr {
    position: relative;
    height: 200px;
    background: #be9d66;
    margin-top: 10px;

}
.rr.rr-left {
    z-index: 1;
    float: left;
    width: 55%;
}
.rr.rr-right {
    z-index: 2;
    float: right;
    width: 44%;
}

.rr:after,
.rr:before {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
}


.rr-left:after {
    right: 0;
    border-left: 100px solid #be9d66;
    border-bottom: 200px solid white;
}

.rr-right:before {
    left: -100px;
    border-right: 100px solid #be9d66;
    border-top: 200px solid transparent;
}

.rr-left > div {
    margin-right: 100px;
    margin-left: 50px;
}

.rr-right > div {
    margin-right: 50px;
    margin-left: 25px;
}

.rr:hover {
    background: #269abc;
}

.rr-left:hover:after {
    border-left-color: #269abc;
}
.rr-right:hover:before {
    border-right-color:#269abc;
}

/*Synchronize for experiment table views  left riht both selected*/
.sync-rr-right{
    background: #269abc;
}

.sync-rr-right:before{
    border-right-color:#269abc;
}

.sync-rr-left{
    background: #269abc;
}
.sync-rr-left:after{
    border-left-color: #269abc;
}




/* View Experiments Text Layout*/
/*200px = (5+30) + (5+30) + (5+60) + (5+60) + overall for each box*/


.id_text{
/*    border-style: solid; */
    border-color: #dff0d8;
    border-width: 1px;
    height: 20px;

    margin-top: 2px;

    font-size: medium;
}

.name_text{

/*    border-style: groove; */
    border-color: #dff0d8;
    border-width: 1px;
    height: 20px;

    margin-top: 2px;
    font-family: "American Typewriter";
    font-size: medium;
}

.purpose_text{


    height: 20px;


    font-family: "Apple Braille";
    font-size: medium;
    text-align: left;
}

.procedure_text{
    overflow-x: auto;
    font-family: "American Typewriter";
    color: #000;
}

.rr-both ul {
    list-style-type: circle;
    margin: 0;
    padding: 0;
    height: 100px;
    overflow-x: auto;

}

.rr-both li {
    font-family: "American Typewriter";
     border-bottom: 1px dashed #ccc;
}

.rr-both li:last-child {
    border: none;
}

.rr-both li a {
    text-decoration: none;
    color: #000;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    width: 100px;
}

.rr-both li a:hover {
    font-size: 25px;
    background: #f6f6f6;
}

.rr-both .parameters li a{
    width: 100%;
    text-align: center;
}



.procedure_text{
    /*
    border-style: dotted;
    border-color: #dff0d8;
    border-width: 1px;*/
    height: 100px;

}



/*table attribute for management*/
/*
h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}*/
 table{
    width:100%;
    table-layout: fixed;
}
.tbl-header{
    background-color: rgba(255,255,255,0.3);
}
.tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}
th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}
td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}


section{
    margin: 50px;
}


.tbl-content tbody.dimension-tbody tr:hover {
    background: #843534;
}
.tbl-content tbody.configuration-tbody tr:hover {
    background: #55A495;
}
.tbl-content tbody.material-tbody tr:hover {
    background: #3c763d;
}
.tbl-content tbody.equipment-tbody tr:hover {
    background: #7c7c21;
}
.tbl-content tbody.parameter-tbody tr:hover {
    background: #ebcccc;
}

/*post CSS*/
.new-post{
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.new-post header,
.posts header{
    margin-bottom: 20px;
}

.posts .post{
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 30px;

}

.posts .post .info{
    color: #000000;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.error, .success{
    text-align: center;
}

.error{
    border: 1px solid red;
    background-color: #771517;
    color: red;
}
.error ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.success{
    border: 1px solid green;
    background-color: #397738;
    color: black;
}

/*Contact Us CSS*/

.contact .content {
    border-top: 1px #616363 solid;
    margin-top: 25px;
    padding-top: 25px;
    overflow: hidden;
}

.contact .info {
    background: #55A495;
    color: #FFF;
    float: left;
    padding: 20px 5% 40px;
    width: 30%;
}

.contact .info h4, form h4 {
    color: #29746A;
    font-family: "Futura W01 Bold";
    letter-spacing: 2px;
    text-transform: uppercase;
}
.contact .info h5 {
    margin: 15px 0 5px 0;

}

.contact .info h6, .info a {
    color: #C4E1DE;
    font-size: 12px;
    margin: 0;
}

.contact form {
    background: #F2F3F4;
    float: right;
    font-family: "American Typewriter";
    padding: 10px 20px 30px;
    width: 60%;
}
.contact form h4 {
    background: #E7B44C;
    color: #FFF;
    padding: 20px;
    margin: -10px -20px;
}

.contact form p {
    clear: both;
    margin-top: 20px;
}

.contact form p label {
    float: left;
    font-size: 0.9em;
    margin-top: 10px;
    width: 22%; height: 30px;
}

.contact form p input {
    background: none;
    border: none;
    border-bottom: 1px #616363 solid;
    font-size: 1.3em;
    outline: none;
    width: 77%; height: 30px;
}

.contact form p textarea {
    background: #DDD;
    border: none;
    outline: none;
    margin-top: 10px;
    padding: 2%;
    width: 73%; height: 60px;
}

.contact form .dots {

    margin: 30px 0 0 0;
    padding-bottom: 0;
    text-align: right;
    width: 99%;
}

.contact form input.submit {
    background: #E7B44C;
    border: none;
    border-left: 15px #F2F3F4 solid;
    color: #FFF;
    font: normal 0.8em "SackersGothicW01-Medium";
    letter-spacing: 2px;
    padding: 4px 60px 6px;
}
.contact form input.submit:hover {
    background: #F5CD82;
}
